In [2]:
import pandas as pd

In [3]:
reviews = pd.read_csv("C:/Users/Alperen Arda/OneDrive/Desktop/GitHub/Data-Science-and-Machine-Learning-Tutorial/Datasets/cats_dataset.csv")

In [4]:
reviews.set_index("Breed") # bu method yardımı ile istediğimiz sütunu index olarak aldık

                    Age (Years)  Weight (kg)          Color  Gender
Breed
Russian Blue                 19            7  Tortoiseshell  Female
Norwegian Forest             19            9  Tortoiseshell  Female
Chartreux                     3            3          Brown  Female
Persian                      13            6          Sable  Female
Ragdoll                      10            8          Tabby    Male
...                         ...          ...            ...     ...
British Shorthair            19            5           Gray  Female
British Shorthair            11            2        Bicolor  Female
Savannah                     12            5        Bicolor  Female
American Shorthair            8            3  Tortoiseshell  Female
Chartreux                    11            4          Sable  Female

[1000 rows x 4 columns]

In [5]:
# veya 1 ve 3. satır arasındaki 2 adet veriyi göstermek isteyebiliriz.
reviews.iloc[1:3, 0]

1    Norwegian Forest
2           Chartreux
Name: Breed, dtype: object

In [6]:
# Koşullar
reviews.Breed == "Persian"

0      False
1      False
2      False
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Breed, Length: 1000, dtype: bool

In [7]:
reviews.loc[(reviews.Breed == "Persian") & (reviews["Age (Years)"] >= 12)]

       Breed  Age (Years)  Weight (kg)     Color  Gender
3    Persian           13            6     Sable  Female
63   Persian           17            5     White    Male
124  Persian           17            3   Bicolor  Female
126  Persian           15            7   Pointed  Female
174  Persian           16            5    Orange  Female
176  Persian           12            6       Red    Male
206  Persian           12            4    Orange    Male
233  Persian           13            6     Sable  Female
274  Persian           16            2    Calico    Male
389  Persian           17            5   Pointed    Male
397  Persian           19            2  Tricolor  Female
424  Persian           13            7     Sable    Male
446  Persian           18            6     White    Male
632  Persian           18            7     Sable  Female
645  Persian           18            4   Bicolor  Female
659  Persian           19            9     Cream    Male
758  Persian           16            2     Sable    Male
934  Persian           19            7     Sable    Male
960  Persian           16            3     Tabby    Male

In [8]:
reviews.loc[reviews.Breed.isin(["Persian", "Sphynx"])]

       Breed  Age (Years)  Weight (kg)          Color  Gender
3    Persian           13            6          Sable  Female
26    Sphynx           18            4          Cream    Male
35    Sphynx            6            3  Tortoiseshell  Female
38   Persian            6            2          Sable    Male
49   Persian            4            3        Bicolor    Male
..       ...          ...          ...            ...     ...
932   Sphynx           19            5          Black  Female
934  Persian           19            7          Sable    Male
960  Persian           16            3          Tabby    Male
976  Persian            4            9         Calico  Female
988   Sphynx           14            9          White    Male

[69 rows x 5 columns]

In [9]:
len(reviews.Breed.unique())

30

In [10]:
reviews["Age (Years)"].describe()

count    1000.000000
mean       10.210000
std         5.535751
min         1.000000
25%         5.000000
50%        10.000000
75%        15.000000
max        19.000000
Name: Age (Years), dtype: float64

In [11]:
reviews.Breed.value_counts() # o sütundaki her farklı özellikten kaç tane olduğunu gösterir.

Breed
Ragdoll               51
American Shorthair    40
Egyptian Mau          39
Persian               37
Oriental              37
British Shorthair     36
Burmese               36
Balinese              35
Bengal                35
Siberian              34
Birman                33
Manx                  33
Maine Coon            33
Abyssinian            33
Ocicat                33
Chartreux             33
Singapura             32
Munchkin              32
Sphynx                32
Siamese               32
Exotic Shorthair      31
Turkish Angora        31
Savannah              31
Scottish Fold         31
Tonkinese             30
Himalayan             30
Cornish Rex           29
Devon Rex             28
Russian Blue          28
Norwegian Forest      25
Name: count, dtype: int64

In [12]:
# idxmax fonksiyonu, bir pandas DataFrame veya Series içindeki en yüksek değerin indeksini döndürür. 
# Yani, belirli bir sütundaki maksimum değerin hangi satırda olduğunu bulmak için kullanılır.

In [13]:
bargain_idx = (reviews["Age (Years)"]/reviews["Weight (kg)"]).idxmax()
bargain_wine = reviews.loc[bargain_idx, ["Breed", "Color", "Gender"]]

In [14]:
bargain_wine

Breed     Norwegian Forest
Color                Brown
Gender              Female
Name: 72, dtype: object

'             Breed  Age (Years)  Weight (kg)         Color Gender\n      Russian Blue           19            7 Tortoiseshell Female\n  Norwegian Forest           19            9 Tortoiseshell Female\n         Chartreux            3            3         Brown Female\n           Persian           13            6         Sable Female\n           Ragdoll           10            8         Tabby   Male\n            Ocicat            9            8          Blue Female\n           Ragdoll            6            5        Calico Female\n        Abyssinian           12            3         Tabby   Male\n          Oriental            2            7         White   Male\n      Egyptian Mau           12            3         White   Male\n         Chartreux           16            4         White   Male\nAmerican Shorthair           13            5         Black   Male\n            Bengal           16            6         White   Male\n       Cornish Rex           13            6       Pointed   Male\n British Shorthair           19            3           Red Female\n           Burmese           14            5       Pointed   Male\n           Burmese           13            3       Pointed   Male\n      Russian Blue           10            7         Black   Male\n         Singapura            7            3          Blue Female\n        Maine Coon            5            6      Tricolor   Male\n British Shorthair           17            6         Cream Female\n        Abyssinian            9            3         Tabby   Male\n       Cornish Rex            6            9       Pointed   Male\n    Turkish Angora           16            6         Sable Female\n           Burmese            6            7        Calico Female\n         Himalayan            6            6 Tortoiseshell   Male\n            Sphynx           18            4         Cream   Male\n              Manx            1            4          Blue   Male\n          Siberian           17            2        Calico   Male\n            Birman           17            7       Pointed Female\n          Oriental            1            2 Tortoiseshell Female\n          Balinese           11            9         White   Male\n      Egyptian Mau           13            3       Pointed   Male\n         Devon Rex            1            3        Orange   Male\n      Egyptian Mau            8            3         Cream   Male\n            Sphynx            6            3 Tortoiseshell Female\n  Norwegian Forest            5            9         Sable Female\n  Norwegian Forest            5            6         Tabby   Male\n           Persian            6            2         Sable   Male\nAmerican Shorthair           13            8         Black   Male\n           Ragdoll           18            3         Cream   Male\n           Burmese           13            4          Blue Female\n         Himalayan            7            9         Tabby Female\n      Egyptian Mau            8            6         White   Male\n  Exotic Shorthair           17            2         White   Male\n      Egyptian Mau            1            7          Gray Female\n      Egyptian Mau           16            6         White   Male\n    Turkish Angora           11            5       Bicolor   Male\n        Abyssinian            4            9          Blue Female\n           Persian            4            3       Bicolor   Male\n        Maine Coon           17            4         Black   Male\n          Oriental           17            7           Red Female\n              Manx           10            9      Tricolor Female\n           Persian            6            2          Blue   Male\n     Scottish Fold           17            6      Tricolor   Male\n          Balinese           18            2        Orange   Male\n       Cornish Rex           10            5         Tabby   Male\n           Ragdoll           13            4         Brown   Male\n          Savannah           16            7          Gray   Male\nAmerican Shorthair            7            8       Bicolor Female\n       Cornish Rex           15            6          Blue   Male\n          Munchkin            2            7          Blue   Male\n           Siamese            5            9         Brown Female\n           Persian           17            5         White   Male\n           Persian            5            4       Bicolor   Male\n            Bengal            8            3           Red Female\n         Chartreux           15            2        Calico   Male\n            Sphynx            8            8        Calico   Male\n British Shorthair            3            5      Tricolor   Male\n            Birman           17            7       Pointed Female\n          Balinese           16            7      Tricolor Female\n         Himalayan           16            9        Orange   Male\n  Norwegian Forest           19            2         Brown Female\n            Bengal           12            2      Tricolor   Male\n          Oriental           15            5         Tabby Female\n     Scottish Fold            8            5      Tricolor   Male\n         Singapura            3            6        Calico   Male\n           Burmese           18            4       Bicolor Female\n        Maine Coon            4            8         Black Female\n        Maine Coon            8            7      Tricolor Female\n        Abyssinian           14            3       Pointed Female\n          Oriental           17            4          Gray Female\n              Manx            6            7         Black   Male\n           Ragdoll            5            8         Cream Female\n British Shorthair           14            7           Red Female\n       Cornish Rex            6            8           Red Female\n          Savannah           12            3         Sable Female\n    Turkish Angora            9            3        Orange   Male\nAmerican Shorthair            1            8      Tricolor   Male\n            Ocicat           18            6         Sable Female\n           Persian            6            8        Calico Female\n    Turkish Angora            5            4         Brown   Male\n           Ragdoll            2            5      Tricolor   Male\n         Chartreux            6            2         Tabby   Male\n      Russian Blue           17            7         Cream   Male\n              Manx            7            6         Sable   Male\n     Scottish Fold            9            6         Sable   Male\n          Balinese            5            6         White Female\n          Savannah           11            9           Red Female\n            Bengal           11            5 Tortoiseshell Female\n British Shorthair            4            7           Red   Male\n            Bengal            6            8         White Female\n  Norwegian Forest           10            2         Cream Female\n          Balinese            9            3         Black Female\n           Ragdoll           18            7           Red   Male\n      Russian Blue            9            5 Tortoiseshell   Male\n            Bengal           11            4        Calico   Male\n          Balinese            2            4        Orange Female\n            Birman           15            5         Cream   Male\n    Turkish Angora            6            6         Brown Female\n  Norwegian Forest           17            5         Black Female\n          Balinese            4            7 Tortoiseshell Female\n           Ragdoll            8            9        Calico   Male\n         Singapura            2            8          Blue   Male\n       Cornish Rex            9            2      Tricolor Female\n  Norwegian Forest            1            7         Cream Female\n          Siberian            6            3          Gray Female\n         Chartreux           16            8        Calico Female\n         Chartreux            7            9       Bicolor   Male\n         Devon Rex           16            3       Pointed   Male\n         Himalayan            6            9         Sable Female\n            Sphynx           10            3         Tabby   Male\n          Oriental           18            8 Tortoiseshell Female\n           Ragdoll           17            7         Black   Male\n           Persian           17            3       Bicolor Female\n            Sphynx           12            6           Red Female\n           Persian           15            7       Pointed Female\n         Himalayan            6            8         Brown Female\nAmerican Shorthair           16            7       Bicolor   Male\n            Bengal           14            4        Calico   Male\n           Siamese           12            9           Red Female\n         Devon Rex           12            4          Blue   Male\n  Exotic Shorthair            2            5         Black Female\n           Ragdoll            8            3         Cream   Male\n           Siamese           17            4 Tortoiseshell Female\n     Scottish Fold            8            2         Brown   Male\n          Siberian           16            8       Bicolor Female\n         Devon Rex            1            5          Blue Female\n        Abyssinian            5            9 Tortoiseshell Female\n         Chartreux           19            6        Calico Female\n          Oriental            3            4        Orange Female\n           Persian            9            3         Black   Male\n     Scottish Fold           11            8          Gray   Male\nAmerican Shorthair            6            8       Bicolor Female\n          Savannah            7            8        Orange Female\n         Singapura            7            6       Pointed   Male\n       Cornish Rex            5            2         White Female\n            Ocicat            2            2        Calico Female\n           Siamese            5            2         Brown Female\n              Manx            6            6        Calico Female\n           Siamese            6            7         Tabby Female\n           Ragdoll            7            4        Calico   Male\n            Ocicat            4            4           Red Female\n           Ragdoll           18            7         Sable   Male\nAmerican Shorthair           16            7         Tabby Female\n    Turkish Angora           19            3          Gray   Male\n           Ragdoll           10            7          Blue Female\n          Balinese            5            6          Gray   Male\n         Himalayan           18            4           Red   Male\nAmerican Shorthair            3            7       Pointed   Male\n            Ocicat            4            5           Red Female\n    Turkish Angora           14            3         Brown   Male\n          Oriental           12            4           Red   Male\n         Singapura           14            5      Tricolor   Male\n        Maine Coon            5            3        Calico   Male\n            Bengal           18            2        Orange   Male\n     Scottish Fold            7            2          Gray   Male\n         Tonkinese           16            5       Bicolor Female\n          Savannah            3            2       Pointed   Male\n            Birman           11            5         Black   Male\n          Savannah           18            3         Brown Female\n           Siamese            6            4       Bicolor   Male\n      Egyptian Mau            5            9         Sable Female\n         Devon Rex            5            3         Cream   Male\n           Persian           16            5        Orange Female\n         Tonkinese            3            8         Brown   Male\n           Persian           12            6           Red   Male\n British Shorthair            3            6       Bicolor Female\n      Egyptian Mau            2            9          Gray   Male\n    Turkish Angora           15            8           Red   Male\n     Scottish Fold           17            7          Gray Female\n      Egyptian Mau           12            7         White   Male\n           Burmese            2            7 Tortoiseshell   Male\n          Munchkin            2            5        Orange   Male\n            Birman           14            2         Cream   Male\n          Siberian            7            5          Gray   Male\n           Burmese           14            9       Pointed Female\n  Exotic Shorthair            7            9         Brown Female\n           Siamese           17            7      Tricolor Female\n           Ragdoll            4            4       Pointed Female\n           Siamese           15            9       Pointed Female\n          Savannah            3            3         White Female\n          Siberian            6            5      Tricolor Female\n         Devon Rex            8            9       Pointed   Male\n            Birman           16            7       Bicolor Female\n            Birman           15            8       Pointed Female\n      Egyptian Mau            4            4      Tricolor   Male\n            Birman            8            6          Gray Female\n         Singapura            8            5        Orange Female\n           Siamese            7            2        Orange   Male\n           Burmese           18            7          Blue   Male\n          Balinese           12            5         Tabby Female\n           Ragdoll            4            7         Tabby Female\n      Russian Blue           14            6          Gray   Male\n  Exotic Shorthair            5            7           Red   Male\n    Turkish Angora            7            7         Sable   Male\n           Persian           12            4        Orange   Male\n            Bengal           15            5      Tricolor   Male\n           Ragdoll           19            9 Tortoiseshell   Male\n          Siberian           13            5         Sable   Male\n          Savannah            4            7         Black   Male\n          Munchkin            6            8       Bicolor   Male\n         Tonkinese            8            2 Tortoiseshell Female\n          Siberian           15            5       Pointed Female\n              Manx           12            3         Black   Male\n          Siberian           10            8         Black Female\n          Savannah           12            8         Black   Male\n           Burmese           17            5        Orange   Male\n         Devon Rex            8            4      Tricolor   Male\n           Burmese            2            8 Tortoiseshell Female\n  Exotic Shorthair           19            3         Cream   Male\n         Chartreux            1            2         Cream   Male\n    Turkish Angora           10            4         Tabby Female\n              Manx            9            2       Pointed Female\n         Devon Rex           19            8         Brown Female\n          Munchkin           12            8       Bicolor Female\n              Manx           18            8         Black   Male\n         Tonkinese           16            5           Red Female\n         Chartreux            4            5         White   Male\n  Exotic Shorthair           11            5      Tricolor   Male\n      Egyptian Mau           15            6         Tabby Female\n        Maine Coon           16            6         Tabby Female\n            Birman            2            9       Bicolor   Male\n           Persian           13            6         Sable Female\n            Bengal           12            3         Black Female\n            Ocicat            8            6           Red   Male\n            Ocicat           12            7         Sable Female\n              Manx           14            9          Blue Female\n British Shorthair            3            7 Tortoiseshell   Male\n         Chartreux            2            5           Red   Male\n          Siberian           17            9       Bicolor Female\n        Abyssinian            2            5         Tabby Female\n           Burmese           17            2         Black   Male\n           Burmese            2            4      Tricolor Female\n  Norwegian Forest            2            4      Tricolor   Male\n          Oriental           13            3         Tabby Female\nAmerican Shorthair            7            4        Orange Female\n            Birman            9            9         Sable   Male\n         Tonkinese            9            8        Calico   Male\n  Norwegian Forest           14            3         Cream Female\n          Savannah           11            9         Brown Female\n British Shorthair           19            2         Sable Female\n  Norwegian Forest            1            5      Tricolor Female\n  Exotic Shorthair            5            5      Tricolor   Male\n              Manx            1            3      Tricolor   Male\n        Maine Coon            6            6         Cream Female\n         Tonkinese           16            9        Orange Female\n      Russian Blue           16            2         White   Male\n           Burmese           13            9       Pointed   Male\n  Exotic Shorthair           14            9         Sable Female\n           Burmese           11            7         Sable Female\n           Ragdoll           10            5         Black   Male\nAmerican Shorthair           17            5         Brown   Male\n  Norwegian Forest            7            9         Cream   Male\n           Ragdoll            4            8        Orange   Male\n     Scottish Fold           17            2         Sable   Male\n      Russian Blue            1            7         Brown Female\n British Shorthair            2            7           Red Female\n           Ragdoll           19            3          Gray Female\n         Tonkinese            1            9         Cream Female\n  Exotic Shorthair           12            6       Bicolor Female\n            Sphynx           19            8          Blue   Male\n       Cornish Rex           19            8        Orange   Male\n          Savannah           16            3         Tabby   Male\n           Persian           16            2        Calico   Male\n          Savannah            8            4         Black Female\n            Birman           13            3       Bicolor Female\n          Balinese           14            4       Bicolor   Male\n     Scottish Fold           19            8      Tricolor   Male\n         Tonkinese           15            2         Black Female\n          Savannah           15            7         Brown Female\n            Sphynx            8            4          Blue   Male\n  Exotic Shorthair           13            5 Tortoiseshell Female\n          Munchkin           12            9         Sable Female\n  Norwegian Forest           13            4         Sable Female\n            Birman           16            6         White Female\n           Siamese           12            6       Pointed Female\n            Ocicat           14            8         Cream   Male\n      Egyptian Mau           15            2         Tabby   Male\n              Manx           19            6         Cream Female\n       Cornish Rex            5            9         Brown Female\n         Chartreux            2            7          Gray   Male\n      Egyptian Mau           18            7      Tricolor Female\n    Turkish Angora           18            8          Gray   Male\n          Balinese           17            4 Tortoiseshell   Male\n         Chartreux           10            8          Gray   Male\n  Exotic Shorthair           17            9        Calico   Male\n           Ragdoll            3  